{% extends 'base.html.twig' %}
{% block title %}Хитко Разград | Всички категории{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/06-components/components-categories-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-paralax-box.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/categories/allCategoriesPage.css") }}">
{% endblock %}

{% block body %}

<h1 class="text-center p-3">Всички категории </h1>


    <div class="c-categories-card">
        <div class="c-categories-card__text">
            <h2>Категория A1</h2>
            <h5>дава право на управление на мотоциклет с работен обем на двигател до 125см3,с максимална мощност не повече от 11kW и с отношение мощност/тегло, което не превишава 0,1 kW/kg . Курсът за категория А1 включва теоретична и практическа подготовка.</h5>
            <a href="{{ path("motorcycle-entryLevel") }}"><button class="btn btn-primary mt-2">Виж още</button></a>
        </div>
        <div class="c-categories-card__image">
            <img src="{{ asset("images/vehicles/motorcycle/motorcycle.jpg") }}" alt="">
        </div>

    </div>
    <div class="c-categories-card">
        <div class="c-categories-card__image">
            <img src="{{ asset("images/vehicles/motorcycle/motorbike.jpg") }}" alt="">
        </div>
        <div class="c-categories-card__text">
            <h2>Категория A2</h2>
            <h5>

                дава право на управление на мотоциклети с мощност , която не превишава 35kW, и с отношение мощност/тегло, което не превишава 0,2 kW/kg .
                </h5>
            <a href="{{ path("motorcycle-mediumLevel") }}"> <button class="btn btn-primary mt-2">Виж още</button></a>
        </div>


    </div>
    <div class="c-categories-card">
        <div class="c-categories-card__text">
            <h2>Категория A</h2>
            <h5>Категория А дава право за управление на мотоциклети и триколесни моторни превозни средства с мощност над 15 kW /без ограничения в кубатурата/.

                Курсът за категория А включва теоретична и практическа подготовка.</h5>
            <a href="{{ path("motorcycle-seniorLevel") }}"> <button class="btn btn-primary mt-2">Виж още</button></a>
        </div>
        <div class="c-categories-card__image">
            <img src="{{ asset("images/vehicles/motorcycle/motorbike2.jpg") }}" alt="">
        </div>

    </div>
    <div class="c-categories-card">
        <div class="c-categories-card__image">
            <img src="{{ asset("images/vehicles/cars/car.jpg") }}" alt="">
        </div>
        <div class="c-categories-card__text">
            <h2>Категория B1</h2>
            <h5>Категория А дава право за управление на мотоциклети и триколесни моторни превозни средства с мощност над 15 kW /без ограничения в кубатурата/.

                Курсът за категория А включва теоретична и практическа подготовка.</h5>
            <a href="">  <button class="btn btn-primary mt-2">Виж още</button></a>
        </div>


    </div>
    <div class="c-categories-card">
        <div class="c-categories-card__text">
            <h2>Категория B</h2>
            <h5>Категория А дава право за управление на мотоциклети и триколесни моторни превозни средства с мощност над 15 kW /без ограничения в кубатурата/.

                Курсът за категория А включва теоретична и практическа подготовка.</h5>
            <a href=""> <button class="btn btn-primary mt-2">Виж още</button></a>
        </div>
        <div class="c-categories-card__image">
            <img src="{{ asset("images/vehicles/cars/car2.jpg") }}" alt="">
        </div>

    </div>

{#paralax information box#}
    <div class="c-paralax-box c-paralax-box--contactUs mt-4">

        <div class="c-paralax-box__content">
            <h2 class="mb-4">Запишете се при Хитко </h2>
            <a href="{{ path("contactUsPage") }}"><button class="c-button c-button--red"> <i class="fas fa-phone mr-2"></i>Свържете се с нас  </button></a>
        </div>

    </div>
{% endblock %}
