<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{asset("css/components/footer.css")}}" rel="stylesheet">
    <link href="{{asset("css/components/navbarStyle.css")}}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset("css/components/all.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-categories-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-paralax-box.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-category-header.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-category-introduction-content.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-category-information-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-category-price-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-required-documents.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/categories/categories.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-paralax-box.css") }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="{{ asset("js/homePageAnimation.js") }}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollToPlugin.min.js"></script>

    <script src="{{ asset("js/lib/TweenLite.min.js") }}" ></script>
    <script src="{{ asset("js/lib/TweenMax.min.js") }}"></script>
    <script src="{{ asset("js/homePageAnimation.js") }}" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/58cf8ffc69.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    {% block stylesheets %}{% endblock %}
</head>
<body>

{% include 'components/menu.html.twig' %}
<div class="container row col-12 m-0 p-0">
    <div class="col-12 m-0 p-0">
        {% block navBarContent %}
        {% endblock %}
    </div>
</div>


<div class="c-categories-header aniview slow animate__animated animate__slideInRight" data-av-animation="slideInRight">
    <div class="c-categories-header__category-name ">
        <h3>Шофьорски курсове</h3>
        <hr>
        {% block categoryName %}{% endblock %}
        <hr>
    </div>
    <div class="c-categories-header__image-container ">
        {# has to contain  c-categories-header__image
<img src="{{ asset("images/vehicles/motorcycle/motorcycle.jpg") }}" alt="" class="c-categories-header__image">#}

        {% block headerImage %}
        {% endblock %}
    </div>
</div>


<div class="c-introduction-content o-grid-container o-grid-container--cg-2">

    <div class="c-introduction-content__text-container o-grid-element--start-1 o-grid-element--end-7 o-grid-element--smartphone--start-1 o-grid-element--smartphone--end-12">
        <div class="c-introduction-content__text">
            <h4>{% block categoryIntroName %}{% endblock %}</h4>
            <h5>
                {% block categoryIntroText%}{% endblock %}
            </h5>

        </div>
    </div>
    <div class="c-introduction-content__requirements-container text-center o-grid-element--start-8 o-grid-element--end-12 o-grid-element--smartphone--start-1 o-grid-element--smartphone--12 mt-sm-0 mt-5">
        <h4>Изисквания</h4>
        <div class="text-left c-introduction-content__requirements">
            {#                they have to be like these
                <h5><i class="fas fa-check"></i>Кандидатът трябва да има навършени 24 години</h5>
                <h5><i class="fas fa-check"></i>20 години - ако водачът притежава свидетелство за управление на мотоциклет от категория "А2" от поне 2 години.</h5>
                <h5><i class="fas fa-check"></i>21 години - за управление на триколесни МПС с мощност, превишаваща 15 kW</h5>
            #}
            {% block requirements %}
            {% endblock %}
        </div>

    </div>

</div>



<div class="slideRight-el-1 c-category-information-card c-category-information-card--blue-color u-slideRight" >
    <div class="c-category-information-card__image-container">
        <img src="{{ asset("images/schoolRoom.jpg") }}" alt="" class="c-category-information-card__image">
    </div>
    <div class="c-category-information-card__text-container">
        <h2>ТЕОРЕТИЧНА ПОДГОТОВКА</h2>
        <hr>
        <h5>{% block informationCardFirstText %}{% endblock %}</h5>
    </div>
</div>

<div class="slideLeft-el-1 c-category-information-card c-category-information-card--text-right c-category-information-card--green-color u-slideLeft " >
    <div class="c-category-information-card__image-container">
        <img src="{{ asset("images/road.jpg") }}" alt="" class="c-category-information-card__image">
    </div>
    <div class="c-category-information-card__text-container">
        <h2>ПРАКТИЧЕСКА ПОДГОТОВКА</h2>
        <hr>
        <h5>{% block informationCardSecondText %}{% endblock %}</h5>
    </div>
</div>

<div class="c-required-documents u-slideRight slideRight-el-2">
    <div class="c-required-documents__title">
        <h2>Необходими документи</h2>
        <hr>
    </div>
    {#   the dicuments have to have c-required-documents__document class !!! #}
    {#    <div class="c-required-documents__document"><h4><i class="fa fa-id-card-o" aria-hidden="true"></i>Лична карта</h4></div>#}
    {#    <div class="c-required-documents__document"><h4><i class="fa fa-id-card-o" aria-hidden="true"></i>Шофьорска книжка</h4></div>#}
    {#    <div class="c-required-documents__document"><h4><i class="fa fa-camera" aria-hidden="true"></i>Снимка</h4></div>#}
    {#    <div class="c-required-documents__document"><h4><i class="fa fa-file-text-o" aria-hidden="true"></i>Копие на диплома за завършено образование</h4></div>#}
    {% block necessaryDocuments %}
    {% endblock %}
</div>


<div class="c-category-price-card  slideLeft-el-2  u-slideLeft" id="s" data-av-animation="fadeIn">
    <div class="c-category-price-card__text">
        <h2>Цени <i class="fas fa-coins">  </i></h2>
    </div>
    <hr>
    <div class="c-category-price-card__list o-grid-container o-grid-container--cg-1">
        {#  it has to look like these

            <div class="c-category-price-card__list-element o-grid-element--start-1 o-grid-element--medium--end-2 o-grid-element--small--end-6 o-grid-element--smartphone--start-1 o-grid-element--smartphone--end-6">
                <h4 class="c-category-price-card__list-element__price">390лв</h4>
                <h5 class="c-category-price-card__list-element__text">Цена на курса</h5>
            </div>
            <div class="c-category-price-card__list-element o-grid-element--medium--start-3 o-grid-element--medium--end-4   o-grid-element--small--start-7 o-grid-element--small--end-12 o-grid-element--smartphone--start-7 o-grid-element--smartphone--end-12 ">
                <h4 class="c-category-price-card__list-element__price">60лв</h4>
                <h5 class="c-category-price-card__list-element__text">Административна такса</h5>
            </div>
            <div class="c-category-price-card__list-element o-grid-element--medium--start-5 o-grid-element--medium--end-6 o-grid-element--small--start-1 o-grid-element--small--end-6 o-grid-element--smartphone--start-1 o-grid-element--smartphone--end-6">
                <h4 class="c-category-price-card__list-element__price">60лв</h4>
                <h5 class="c-category-price-card__list-element__text">Вътрешен изпит по практика</h5>

            </div>
            <div class="c-category-price-card__list-element o-grid-element--medium--start-7 o-grid-element--medium--end-8    o-grid-element--small--start-7 o-grid-element--small--end-12 o-grid-element--smartphone--start-7 o-grid-element--smartphone--end-12 ">
                <h4 class="c-category-price-card__list-element__price">60лв</h4>
                <h5 class="c-category-price-card__list-element__text">Външен изпит по практика пред ИА“АА“</h5>
                  </div>
            <div class="c-category-price-card__list-element o-grid-element--medium--start-9 o-grid-element--medium--end-10  o-grid-element--small--start-1 o-grid-element--small--end-6 o-grid-element--smartphone--start-1 o-grid-element--smartphone--end-6">
                <h4 class="c-category-price-card__list-element__price">60лв</h4>
                <h5 class="c-category-price-card__list-element__text">Външен теоретичен изпит пред ИА“АА“ /когато нямате категория „В“/</h5>

            </div>
            <div class="c-category-price-card__list-element o-grid-element--medium--start-11 o-grid-element--medium--end-12    o-grid-element--small--start-7 o-grid-element--small--end-12 o-grid-element--smartphone--start-7 o-grid-element--smartphone--end-12 ">
                <h4 class="c-category-price-card__list-element__price">60лв</h4>
                <h5 class="c-category-price-card__list-element__text">Вътрешен теоретичен изпит /когато нямате категория „В“/</h5>

            </div>
        #}

        {% block prices %}
        {% endblock %}
    </div>
</div>

<div class="c-paralax-box c-paralax-box--contactUs mt-4">

    <div class="c-paralax-box__content">
        <h2 class="mb-4">Запишете се при нас  </h2>
        <a href="{{ path("contactUsPage") }}"><button class="c-button c-button--red"><i class="fas fa-phone mr-2"></i>Свържете се с нас </button></a>
    </div>

</div>

<script>
    gsap.registerPlugin(ScrollTrigger);

    var slideLeftEl = document.getElementsByClassName("u-slideLeft");
    var slideRightEl = document.getElementsByClassName("u-slideRight");

    for (var i = 1; i <= slideLeftEl.length ; i++){
        gsap.to(".slideLeft-el-"+i, {
            scrollTrigger: {
                trigger: ".slideLeft-el-"+i,
                // scrub: true,
                toggleActions: "play pause resume none"
            },

            x:0 ,
            duration: 1.5,
            ease: "power2.out"

        });
    }

   for (var i = 1; i <= slideRightEl.length; i++){
        gsap.to(".slideRight-el-"+i, {
            scrollTrigger: {
                trigger: ".slideRight-el-"+i,
                // scrub: true,
                toggleActions: "play pause resume none"
            },

            x:0 ,
            duration: 1.5,
            ease: "power2.out"

        });
    }




</script>

{% block javascripts %}{% endblock %}
{% include 'components/footer.html.twig' %}
<script>
    window.onscroll = function() {myFunction()};

    var navbar = document.getElementById("navbar");
    var sticky = navbar.offsetTop;

    function myFunction() {
        if (window.pageYOffset >= sticky) {
            navbar.classList.add("sticky")
        } else {
            navbar.classList.remove("sticky");
        }
        console.log(22);
    }

    function changeToggleMenuButton(x) {
        x.classList.toggle("change");
    }


</script>
</body>
</html>
