{% extends 'base.html.twig' %}
{% block title %}Хитко Разград | Категория A1{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/06-components/components-categories-card.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-paralax-box.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-category-header.css") }}">
    <link rel="stylesheet" href="{{ asset("css/06-components/components-category-introduction-content.css") }}">
    <link rel="stylesheet" href="{{ asset("css/pages/categories/categories.css") }}">
{% endblock %}

{% block body %}
    <div class="c-categories-header">
        <div class="c-categories-header__category-name ">
            <h3>Шофьорски курсове</h3>
            <hr>
            <h1>Категория B</h1>
            <hr>
        </div>
        <div class="c-categories-header__image-container ">
            <img src="{{ asset("images/vehicles/cars/car.jpg") }}" alt="" class="c-categories-header__image">
        </div>
    </div>


    <div class="c-introduction-content o-grid-container o-grid-container--cg-2">

        <div class="c-introduction-content__text-container o-grid-element--start-1 o-grid-element--end-7 ">
            <div class="c-introduction-content__text">
                <h5>
                    Свидетелството за управление на МПС за категория “В” позволява управление на леки, лекотоварни и товарни автомобили с ръчна или с автоматична предавателна кутия и с допустима максимална маса включително и товара до 3,5 тона и до 9 места.

                    Курсът включва теоретична и практическа подготовка. Управлението на автомобила се провежда на полигон, в населено и извън населено място.

                    За да започнете курса за категория „В“ се изискват навършени 17 години и 9 месеца.
                </h5>

            </div>
        </div>
        <div class="c-introduction-content__requirements-container text-center o-grid-element--start-8 o-grid-element--end-12 ">
            <h4>Изисквания</h4>
            <div class="text-left c-introduction-content__requirements">
                <h5><i class="fas fa-check"></i>Навършени 17 години и 9 месеца</h5>
                <h5><i class="fas fa-check"></i>Диплома за завършено образование /мин. основно/</h5>
                <h5><i class="fas fa-check"></i>Снимка паспортен формат</h5>
            </div>

        </div>

    </div>
{% endblock %}